import {TestHelper} from './TestHelper';

/**
 * Unit tests.
 */
describe('%RULE_FILE_NAME%', () : void => {

    const ruleName : string = '%RULE_NAME%';

    it('should pass on xxx', () : void => {
        const script : string = `
            // todo: add passing example
        `;

        TestHelper.assertViolations(ruleName, script, [ ]);
    });

    it('should fail on xxx', () : void => {
        const script : string = `
            // todo: add failing example and update assertions
        `;

        TestHelper.assertViolations(ruleName, script, [ ]);
    });

});
